@import './../../assets/styles/variables';

.home-products {
    overflow: hidden;

    .product-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .add-cart-button {
            align-items: center;
            font-size: $font-size;
            border-radius: 8px;
            width: 120px;
            height: 38px;
        }

        .product-image {
            object-fit: contain;
            max-height: 200px;
        }

        .home-product-title {
            font-size: $font-size;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .home-product-description {
            font-size: 0.875rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .home-poduct-price {
            font-size: $font-size;
            font-weight: $font-bold-600;
        }
    }
}
